# 0. Import các thư viện

In [1]:
import pandas as pd
import numpy as np
import random

# 1. Đọc dữ liệu từ file CSV

In [2]:
df = pd.read_csv("https://s3.ap-southeast-1.amazonaws.com/learn.codegym.vn/media/public/2021/12/31011319/OnlineRetail.csv", encoding = "ISO-8859-1")
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

# 2. Bài tập show n dòng bất kỳ trong DataFrame

In [4]:
row = df.shape[0]
# Nhập số dòng cần hiển thị
try:
    while True:
        n_size = int(input(f"Mời nhập số tự nhiên 0 < n_size < {row}: "))
        if 0 < n_size < df.shape[0]:
            break
        else:
            print(f"Giá trị ngoài khoảng cho phép 0 < n_size < {row}")
except ValueError:
    print("Giá trị vừa nhập không phải là số nguyên!!! Mời nhập lại \n")

Mời nhập số tự nhiên 0 < n_size < 541909:  5

In [5]:
# Lấy giá trị ngẫu nhiên chỉ số bắt đầu
idx = random.randint(0, row - n_size)
print(idx, n_size)

363981 5

In [6]:
# Hiển thị n_size dòng bắt đầu từ vị trí idx
df[idx:idx+n_size]

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
363981,568593,22340,NOEL GARLAND PAINTED ZINC,24,9/28/2011 10:54,0.39,13988.0,United Kingdom
363982,568593,85099B,JUMBO BAG RED RETROSPOT,10,9/28/2011 10:54,2.08,13988.0,United Kingdom
363983,568593,23343,JUMBO BAG VINTAGE CHRISTMAS,10,9/28/2011 10:54,2.08,13988.0,United Kingdom
363984,568593,23360,SET 8 CANDLES VINTAGE DOILY,12,9/28/2011 10:54,1.95,13988.0,United Kingdom
363985,568593,22300,COFFEE MUG DOG + BALL DESIGN,6,9/28/2011 10:54,2.55,13988.0,United Kingdom

In [7]:
df[idx:idx+n_size].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 363981 to 363985
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   InvoiceNo    5 non-null      object
 1   StockCode    5 non-null      object
 2   Description  5 non-null      object
 3   Quantity     5 non-null      int64
 4   InvoiceDate  5 non-null      object
 5   UnitPrice    5 non-null      float64
 6   CustomerID   5 non-null      float64
 7   Country      5 non-null      object
dtypes: float64(2), int64(1), object(5)
memory usage: 452.0+ bytes